#gradient {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

body{
    text-align: center;
}

.container-board{
    display: flex;
    justify-content: center;
}


#field {
    width: 400px;
    height: 350px;
    border: 10px solid black;
    background-color: #00FF00;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

#ball {
    position: absolute;
    left: 0px;
    right: auto;
    top: 0px;
    width: 40px;
    height: 40px;
    transition: all 1s;
    background: #D93600;
    border-radius: 50%;
  }

  body{
    height:2000px
  }